@{
    ViewData["Title"] = "Grąžinti knygą";
}

<h2>Knygos grąžinimas</h2>
<a asp-controller="Payments" asp-action="PayDebt" @* asp-route-id="@b.Id" *@ class="btn btn-outline-primary">Mokėti skolą</a>