@{
    ViewData["Title"] = "SKolintos knygos";
}

<h2>Pasiskolintos knygos:</h2>
<li>Knyga 1</li>
<a asp-action="ReturnBook" >Grąžinti</a>
<li>Knyga 2</li>
<a asp-action="ReturnBook">Grąžinti</a>

<h2>Seniau skolintos knygos:</h2>
<li>Knyga 1</li>
<li>Knyga 2</li>