@{
    ViewData["Title"] = "SKolintos knygos";
}

<h2>Pasiskolintos knygos:</h2>
<li>Knyga 1</li>
<a asp-controller="Lending" asp-action="ReturnBook" @* asp-route-id="@b.Id" *@ class="btn btn-outline-primary">Grąžinti</a>
<a asp-controller="Recommendation" asp-action="ViewRecommendation" @* asp-route-id="@b.Id" *@ class="btn btn-outline-primary">Rekomendacija</a>

<h2>Skolintų knygų istorija:</h2>
<li>Knyga 1</li>
<a asp-controller="Recommendation" asp-action="ViewRecommendation" @* asp-route-id="@b.Id" *@ class="btn btn-outline-primary">Rekomendacija</a>
<li>Knyga 2</li>
<a asp-controller="Recommendation" asp-action="ViewRecommendation" @* asp-route-id="@b.Id" *@ class="btn btn-outline-primary">Rekomendacija</a>
