@{
    ViewData["Title"] = "Prieiga apribota";
}

<div class="container mt-5">
    <div class="alert alert-danger" role="alert">
        Tik administratoriai gali pasiekti šį puslapį.
    </div>
    <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Grįžti į pradžią</a>
</div>
