@{
    ViewData["Title"] = "Atsijungta";
}
<div class="text-center mt-5">
    <h3>Jūs sėkmingai atsijungėte</h3>
    <a asp-controller="Account" asp-action="Login" class="btn btn-primary mt-3">Prisijungti vėl</a>
</div>
